* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
}

.content-area {
  max-width: 30%;
  height: auto;

  background-color: #c70532;
  color: white;

  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  gap: 2rem;

  box-shadow: inset 1px 8px 10px #74001b;
}

#button {
  background-color: #c70532;
  border: none;
  padding: 1rem;

  border-radius: 1rem;
  cursor: pointer;

  box-shadow: inset 0px 8px 5px #b3002a;
}

i {
  font-size: 2rem;
  color: #ede5e7;
}

h3 {
  text-align: center;
  font-size: 3rem;
  text-decoration: overline;
  text-decoration-style: dashed;
}

.content-area p {
  text-align: center;
  font-weight: bold;
}

.content-area h1 {
  border-radius: 1rem;

  width: 18rem;
  text-align: center;
  text-decoration: underline;
  border: 2px dashed white;
  padding: 0.8rem;
}

@media (min-width: 250px) and (max-width: 600px) {
  .content-area {
    max-width: 90%;
    height: auto;

    background-color: #c70532;
    color: white;

    padding: 2rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 2rem;

    box-shadow: inset 1px 8px 10px #74001b;
  }
}
